<%- include('../partials/header') -%>


<h1><%= name %> Your oder history is as follows</h1>

<link rel="stylesheet" href="../../css/styles.css">
<!-- <a class="navbar-brand" href="#"><img src="../../img/logo2.png"></a> -->
<%- include('../partials/footer') -%>
